# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment files
.env
.env.local
.env.development.local
.env.production.local

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/

# VS Code
.vscode/

.vercel
.env*
